body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    gap: 10px;
}
header{
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    display: flex;
    position: fixed;
    z-index: 999;
}
main{
    z-index: 0;
    margin-top: 200px;
    width: 100%;
    height: auto;
}
footer{
    z-index: 0;
    width: 100%;
    height: 250px;
    background-color: black;
    display: block;
    color: white;
}
.espaco{
    width: 100%;
    height: 20px;
    background-color: black;

}

.conteudo{
    width: 100%;
    height: 300px;
    background-color: darkgoldenrod;
    display:block;
}
#butao_de_menu{
    width: 50px;
    height: 50px;
    background-color: white;
    position: relative;
    top: calc(100% - 100px);
    left: calc(100% - 450px);
}


.logo{
    width: 250px;
    height: 100px;
    background-color: white;
    position: relative;
    top: 20px;
    left: 50px;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    position: fixed;
    width: 100%;
    height:100px;
    background-color: white;
    display: none;
}
#menu > ul{
    width: 100%;
    height: 100%;
    display: grid;
    list-style: none;
} 
#menu > ul >li{
    position: relative;
    left:30%;
} 
@media (max-width: 500px) {
    .logo{
        width: 150px;
        height: 50px;
    }
    #butao_de_menu{
        top: 20%;
        left: 40%;
    }
    main{
        margin-top: 130px;
    }
    header{
        height: 100px;
    }
    
}